{% extends 'form_msg/base_msg.html' %}

{#MAY INCLUDE STATIC, CSS!!! FROM MAIN PAGE#}
{% load static %}
{% load custom_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-7 p-5">
            <h1 class="p-1">Messages</h1>

            {% if msgs_data %}
                {% for msg in msgs_data %}
                    {% include 'form_msg/card_item_msg.html' %}
                {% endfor %}
            {% else %}
                Empty
            {% endif %}

            {% if page.has_other_pages %}

            {% with page as page_obj %}
            {% include 'form_msg/includes/paginator.html' %}
            {% endwith %}

            {% endif %}

        </div>

    </div>
{% endblock %}